[Desktop Entry]
Name=Position Work Windows
Comment=Execute position script to position windows using rules
Keywords=shell;prompt;command;commandline;position;work
TryExec=gnome-terminal
Exec=/usr/local/bin/position
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
StartupNotify=true
